h1 Star Wars Characters
p(ng-if='vm.characters.length === 0') No characters in the database.
  a.btn.btn-primary.spaced(href='#/characters/add', role='button') 
    | Add 
    i.glyphicon(class='glyphicon-plus')
p(ng-if='vm.characters.length > 0')
  | There are {{ vm.characters.length }} characters in the database.
  small Currenty viewing: {{ filtered.length }}
.row(ng-show='vm.characters.length > 0')
  .col-sm-4.col-md-4
    form.form-inline(role='form')
      .form-group.right-inner-addon
        input.form-control(type='text', ng-model='vm.search[vm.option]', placeholder='Search')
        i.glyphicon.glyphicon-search
      .form-group
        select.form-control(ng-model='vm.option', ng-options='choice for choice in vm.choices', ng-change='reset()')
  .col-sm-4.col-md-4
    p
      a.btn.btn-primary.spaced(href='#/characters/add', role='button') 
        | Add 
        i.glyphicon(class='glyphicon-plus') 
      a.btn.btn-primary.spaced(ng-click='vm.order.sortedBy="name"; vm.order.reverse=!vm.order.reverse', role='button') 
        | Name 
        i.glyphicon(ng-class='vm.order.reverse && vm.order.sortedBy === "name"  ? "glyphicon-arrow-down" : "glyphicon-arrow-up"') 
      a.btn.btn-primary.spaced(ng-click='vm.order.sortedBy="role"; vm.order.reverse=!vm.order.reverse', role='button') 
        | Role 
        i.glyphicon(ng-class='vm.order.reverse && vm.order.sortedBy === "role" ? "glyphicon-arrow-down" : "glyphicon-arrow-up"')
  .col-sm-4.col-md-4.text-right
    form.form-inline(role='form')
      .form-group
        select.form-control(ng-model='vm.alliance', ng-options='alliance for alliance in vm.alliances')
          option(value='') Select an alliance
.row
  .col-sm-6.col-md-4.character(ng-repeat='character in filtered = (vm.characters | filter: vm.search | filter: {alliance: vm.alliance} | orderBy: vm.order.sortedBy:vm.order.reverse)')
    .thumbnail
      img(ng-src='{{ character.binary }}', alt='{{ character.name }}')
      .caption
        h3 {{ character.name }}
        p Role: {{ character.role}}
        p
          a.btn.btn-primary(ng-href='#/characters/{{character.name | convert }}', role='button') More info
