.debug(ng-show='debug.state', class='scrollable')
    pre {{ character | json }}
.row
  .panel.panel-default
    .panel-heading
      h3.panel-title {{ character.name }}
    .panel-body.col-sm-5.col-md-6 {{ character.bio }}
    .panel-body.col-sm-3.col-md-2
      ul.list-unstyled
        li
          strong Homeworld: 
          | {{ character.homeworld }}
        li
          strong Weapon: 
          | {{ character.weapon }}
        li
          strong Species: 
          | {{ character.species }}
        li
          strong Height: 
          | {{ character.height }}
    .panel-body.col-sm-3.col-md-2.text-center
      img(ng-src='data:image/png;base64,{{ character.image }}', alt='{{ character.name }}')