.debug(ng-show='debug.state', class='scrollable')
    pre {{ results | json }}
h1 Search
form(role='form', ng-submit='search()', name='searchForm')
    .form-group
        label(for='searchterm') Search
        input#searchterm.form-control(type='text', name='searchterm', placeholder='Enter search term', ng-model='searchterm')
     .form-group
        label(for='type') Type
        select#type.form-control(ng-model='type', ng-options='type for type in types')
    button.btn.btn-default(type='submit') Search
.results(ng-show='noresults') {{ noresults }}
.results(ng-show='results')
    .row
        ul
            li(ng-repeat='leader in results') {{ leader.content.name.firstname }} {{ leader.content.name.lastname }} | 
                a(href='#/leaders/{{ leader.uri | urify }}') More info