#footer
  .container
      p
        | The data used to build this application is for non-commercial use in accordance with the Terms of Use from its originating source(s): 
        a(href="http://www.starwars.com/databank") http://www.starwars.com/databank
        |  and 
        a(href="http://starwars.wikia.com/wiki/Main_Page") http://starwars.wikia.com/wiki/Main_Page
