doctype html
html(lang='en', ng-app='starwars')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='favicon.ico')
    link(href='public/css/bootstrap.cerulean.min.css', rel='stylesheet')
    link(href='public/css/app.css', rel='stylesheet')
  body.ng-cloak
    include ./navbar.jade
    .container
      div(ng-view='ng-view')
    include ./footer.jade
    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='/vendor/angular/angular.min.js')
    script(src='/vendor/angular-route/angular-route.min.js')
    script(src='/vendor/ng-file-upload/angular-file-upload-shim.min.js')
    script(src='/vendor/ng-file-upload/angular-file-upload.min.js')
    script(src='/public/js/app.js')
    script(src='/public/js/navigation/starwars.navigation.controller.js')
    script(src='/public/js/characters/character-list/starwars.characters.controller.js')
    script(src='/public/js/characters/character-info/starwars.character.controller.js')
    script(src='/public/js/characters/character-search/starwars.search.controller.js')
    script(src='/public/js/characters/character-add/starwars.addcharacter.controller.js')
    script(src='/public/js/filters/starwars.convert.filter.js')
    script(src='/public/js/data/starwars.datafactory.js')
